<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/index.css')}}">
    <link rel="icon" href="{{ url_for ('static', filename='images/icone.png')}}">
    <title>Busca CEP</title>
</head>
<body>
    <h1>Olá, seja bem vindo</h1>
    <form action="/buscar_cep" method="POST">
        <label for="cep">CEP:</label>
        <input type="text" id="cep" name="cep" required maxlength="8" autocomplete="off">
        <button type="submit">Buscar</button>
    </form>
</body>
</html>